{%extends "base.html"%}
{{block content}}
<dive class="container">
    <div class="jumbotron">
        <h1>welcome to the page for {{user.user_name}}</h1>
        <img src="url_for('static',filename=profile_pics/+user.profile_image)">
    </div>


    {%for post in blog_posts.items%}
    <h2><a href="{{url_for(blog_posts.blog_post,blog_post_id=post.id)}}"> {{post.title}}</a></h2>
    Writen By: <a href="{{url_for('users.user_post',user_name=post.author.user_name}}">{{post.author.user_name}}</a>
    <p class="text-muted"> published on: {{post.date.strftime(%Y-%m-%d)}}</p>
    <br>
    <p>{{post.text}}</p>
    <br>
    {%endfor%}
</dive>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {%for page_num in blog_posts.iter_pages(left_edge=1,right_edge=1, left_current=1,right_current=2) %}
        {%if block_posts.pages==page_num %}
        <li class=" page-item disables">
            <a class="page-link" href="url_for('users.user_post',user_name=user.user_name)">{{page_num}}</a>
        </li>
        {%else%}
        <li class="page-item">
            <a class="page-link"
               href="url_for('users.user_post',user_name=user.user_name, page=page_num)">{{page_num}} </a>
        </li>
        {%endif%}

    </ul>
</nav>
{{endblock}}
